*{
  /* border: solid black; */
  margin: 0 auto
}
#filter-books-container{
  padding: 20px;
  margin-left: 2.5%;
  background-color:  #1CA67F

}

button{
  display: block
}

.genre-list-items{
  list-style: none;
  /* width: 100% */
}

.genre-button{
  background: none;
  width: 200px;
  color: white;
  /* height: 30px; */
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-bottom: solid  white 2px

}

.genre-button:hover{
  background: #F24E29
}