*{
  /* border: solid black; */
  margin: 0 auto
}
#filter-books-container{

  padding-right: 80px;
  margin-left: 2.5%;
  background-color:  #1CA67F

}

button{
  display: block
}


.filter-links:hover{
  color: green
}

.genre-list-items{
  list-style: none
}