.book-details-container{
  width: 70%;
  min-width: 800px;
  height: 40vh;
  display: flex;
  /* margin-left: 2.5%;
  margin-right: 2.5%; */
  padding: 1.5%;
  overflow: hidden;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0 8px 12px -4px black;
  background-color:#F2F2F2
}

.book-cover{
  width: 25%;
  margin-right: 1.5%
}

.book-text-container{
  width: 75%
}
.description{
  height: 40%;
  overflow: scroll
}

.add-to-favorites{
  position: abosolute;
  height: 30px;
  width: 150px;
  font-size: 20px;
  background-color: #1CA67F;
  color: white;
  border-radius: 10px 
}

.add-to-favorites:hover{
  background-color: orange;
}
