.book-details-container{
  width: 80%;
  min-width: 800px;
  height: 40vh;
  display: flex;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: 1.5%;
  overflow: scroll;
  margin-bottom: 10px;
}
.book-cover{
  width: 25%;
  margin-right: 1.5%
}

.book-text-container{
  width: 75%
}

.add-to-favorites{
  position: abosolute;
  height: 30px;
  width: 150px;
  font-size: 20px;
  background-color: green;
  color: white
}

.add-to-favorites:hover{
  background-color: orange;
}
