header{
  text-align: center;
  margin-bottom: 50px;
  width: 100vw
}

#page-title{
  font-family: 'Dokdo', cursive;
  font-size: 100px;
  margin: 0 auto
}

#lit{
  color: #F24E29
}
nav{
  display: flex;
  justify-content: center;
  
}
.nav-link{
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}

.nav-link-text{
  padding: 3px;
  border-bottom: solid #1CA67F
}
.nav-link-text:hover{
  background-color:#733641;
  color: white
}
.nav-link:visited{
  color: black
}